<li>
  <a href="{{@root.site.repository}}/commit/{{hash}}" class="group focus:outline-none">
    <h2 class="text-2xl font-bold text-gray-900 group-hover:text-teal-900 group-focus:underline">
      {{message}}
    </h2>
    <p class="text-gray-700 group-hover:text-teal-700">{{body}}</p>
  </a>
</li>
